.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 63.5px;
  border: none;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--disabled);
}

.transparent {
  background-color: var(--wightAuth);
  color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
}

.primary {
  background-color: var(--primaryBlue);
  color: var(--white);
}

.secondary {
  background-color: var(--gray);
  color: var(--white);
}

.button[type='submit'] {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px 12px 12px 16px;
  box-sizing: border-box;
}
