.resetPasswordInfoContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.resetPasswordHeading {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--black-900);
}

.resetPasswordSubHeading {
}
