.breadcrumbsContainer {
  background-color: var(--wightAuth);
}

.breadcrumbsList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 20px;
  align-items: center;
}

.homeIcon {
  margin-right: 8px;
}

.breadcrumbsList > img {
  margin-right: 8px;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem > img {
  margin-right: 8px;
}

.listItem > li > a {
  color: var(--black);
  margin-right: 8px;
}
