.background {
  color: white;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.productNavBarChildren {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.userInteractions {
  display: flex;
  flex-direction: row;
  min-width: 96px;
  justify-content: space-between;
  align-self: center;
}
