.cardWrapper {
  /* product card Desktop */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  background: var(--wightAuth);
  border-radius: 5px;
  width: 180px;
  box-sizing: border-box;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.cardWrapper:hover {
  box-shadow:
    0px -1px 20px rgba(30, 95, 114, 0.2),
    -9px 4px 20px rgba(50, 109, 126, 0.2),
    10px 9px 20px rgba(69, 151, 175, 0.2);
}

.imageWrapper {
  position: relative;
  width: 164px;
  height: 160px;
  font-style: normal;
  font-weight: var(--medium);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--wightAuth);
  outline: 1px solid lightgray;
}

.specialWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 46px;
  z-index: 2;
}

.saleOut {
  padding-left: 8px;
  padding-top: 8px;
}

.sale {
  padding: 2px 4px;
  width: 43px;
  height: 21px;
  background: #c83c33;
  border-radius: 5px;
  text-align: center;
}

.new {
  padding: 2px 4px;
  width: 62px;
  height: 21px;
  background: #40898e;
  border-radius: 5px;
  text-align: center;
}

.following {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 3px 2px;
  z-index: 2;
}

.addToFollowing {
  position: absolute;
  padding: 10px 8px;
  background: var(--darkBlue);
  color: var(--wightAuth);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.poligon {
  position: absolute;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 164px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 164px;
}

.productName {
  font-style: normal;
  font-weight: var(--wight-600);
  font-size: var(--small-14);
  line-height: 150%;
  color: var(--darkBlue);
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 164px;
  height: 20px;
}

.stars {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 2px;

  width: 108px;
  height: 20px;
}

.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 32px;
  height: 18px;

  .text {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #353535;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 164px;
  height: 59px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.oldPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  /* width: 96px;
  height: 21px; */
  /* expired price */
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-14);
  line-height: 150%;
  /* identical to box height, or 21px */
  text-decoration-line: line-through;

  /* Black/black 900 */
  color: var(--black-900);
}

.deviation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 6px;
  gap: 10px;

  /* width: 39px;
  height: 18px; */
  background: #c83c33;
  border-radius: 5px;
}

.newPrice {
  font-style: normal;
  font-weight: var(--wight-600);
  font-size: var(--large-20);
  line-height: 150%;

  color: var(--darkBlue);
}

.available {
  font-style: normal;
  font-weight: var(--wight-600);
  font-size: var(--small-14);
  line-height: 150%;
  color: var(--greenForBtn);
}

.buySectionShow {
  opacity: 1;
  visibility: visible;
}
.buySectionHide {
  opacity: 0;
  visibility: hidden;
}
.buyButton {
  box-sizing: border-box;
  padding: 10px 20px;
  gap: 10px;
  width: 164px;
  background: var(--greenForBtn);
  border: 1px solid var(--greem);
  border-radius: 5px;
}
