.formContainer {
  display: flex;
  justify-content: center;
  margin: 40px 80px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > input[type='submit'] {
  display: flex;
  justify-content: center;
  color: var(--white);
  min-width: 375px;
  padding: 16px;
  background-color: var(--primaryBlue);
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.h4 {
  display: flex;
  align-self: start;
  color: var(--greenForBtn);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}
