.formContainer {
  display: flex;
  justify-content: center;
  margin: 40px 80px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4 {
  display: flex;
  align-self: start;
  color: var(--greenForBtn);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

.submitPolicy{
  margin-bottom: 32px;
}

.submitPolicy >a{
  color: var(--primaryBlue)
}