.submitBtn {
  margin-top: 10px;
}

.setntEmailmodal {
  position: relative;
  bottom: -580px;
  padding: 40px 152px 40px 152px;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  animation: slide 2s forwards;
}

/* timing-function delay iteration-count direction fill-mode */

.setntEmailmodal > img {
  display: flex;
  align-self: center;
}

@keyframes slide {
  from {
    bottom: -580px;
  }
  to {
    bottom: 0px;
    /* transform: translateY(50%); */
  }
}
