.forgotPasswordForm {
  max-width: 960px;
}

.formHeading {
  display: flex;
  align-self: flex-start;
  font-weight: bold;
  font-size: var(--large);
  color: var(--greem);
  text-align: left;
}

.submitBtn {
  margin-top: 10px;
  font-size: 32px;
}

.inputAndButtobBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.emailInput {
  max-width: 375px;
}

.sybmitEmailInput {
  max-width: 248px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.setntEmailmodal {
  position: relative;
  bottom: -580px;
  padding: 40px 152px 40px 152px;
  min-width: 960px;
  display: flex;
  flex-direction: column;
  animation: slide 2s forwards;
}

/* timing-function delay iteration-count direction fill-mode */

.setntEmailmodal > img {
  display: flex;
  align-self: center;
}

@keyframes slide {
  from {
    bottom: -580px;
  }
  to {
    bottom: 0px;
    /* transform: translateY(50%); */
  }
}
