.header {
  background-color: var(--darkBlue);
  color: var(--white);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.h1 {
  font-size: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.navItem {
  padding: 9px 5px;
  box-sizing: border-box;
  min-width: 90px;
  text-align: center;
}
.navItem > a {
  text-decoration: none;
  color: var(--white);
}

.langSelect {
  display: flex;
  align-items: center;
}

.langSelect > select {
  padding-left: 5px;
  min-width: 85px;
  text-align: right;
  appearance: none;
  background-color: transparent;
  border-color: transparent;
  color: var(--white);
  font-size: 16px;
}
